<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <connectionStrings>
    <add name="EBScon_mobinternal" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.125.64.31)(PORT=1995))(CONNECT_DATA=(SID=EBSDB)));User Id=mobint;Password=mobintweb;" providerName="Oracle.DataAccess.Client" />
    <add name="OMS" connectionString="Data Source = (description=(address_list=(address=(protocol=tcp)(host=10.125.68.64)(port=1525)))(connect_data=(service_name = TESTIOMS))); user id = OMSUSER; password = OMSUSER; connection lifetime=500;max pool size=300;min pool size=5" />
  </connectionStrings>
  <appSettings>
    <add key="InternalAccessTokenKey" value="@$$!ntern@a|@ppRec" />
    <add key="AuthJwtSecretKey" value="FqD9NlT7Y02KzHsJdW70P5Za9ghmnzMJ5kH6Y+8BB4lXY5gB0gk=" />
	  <add key="AuthJwtIssuer" value="www.bsesdelhi.com/Api/Issuer" />
	  <add key="AuthJwtAudience" value="www.bsesdelhi.com/Api/Audience" />
	  <add key="AuthJwtExpirationTimeInHours" value="8" />
    <add key="Environment" value="TEST" />
    <!--LIVE/TEST-->
    <add key="OldTokenKey" value="@$$!ntern@a|@pp" />
    <!--<add key="URL" value="http://10.125.66.12:6080/arcgis/rest/services/GIS/BRPL_Offices/MapServer/"/>-->
    <add key="URL" value="http://10.125.66.12:6080/arcgis/rest/services/GIS/BRPLGIS_Office/MapServer/" />
    <!--<add key="DELHIWSTESTD.ISUSERVICE" value="http://10.8.61.235/DELHIWS/ISUSERVICE.asmx"/>-->
    <add key="BYPLOMSONLINE_Services_TestD.Service1" value="http://10.125.64.216:7820/Service1.asmx" />
    <add key="JavaWebReference.ISUSERVICE" value="http://10.125.64.30:88/DELHIWS/ISUSERVICE" />
    <add key="DELHIWSTESTD.ISUSERVICE" value="http://10.8.61.235/DELHIWS/ISUSERVICE.asmx" />
    <add key="DELHIWSTESTDV2.ISUSERVICE" value="http://10.8.61.235/DELHIWSV2/ISUSERVICE.asmx" />
    <add key="DelhiV2.ISUService" value="https://bsesbrpl.co.in:7850/DelhiV2/ISUService.asmx" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" localOnly="true" />
    <httpCookies httpOnlyCookies="true" />
    <sessionState cookieless="UseCookies" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>-->
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
      <error statusCode="403" redirect="ErrorPage.aspx?msg=403&amp;handler=customErrors%20section%20-%20Web.config" />
      <error statusCode="500" redirect="ErrorPage.aspx?msg=500&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>
    <!--<pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>