<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime enableVersionHeader="false"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <appSettings>
    <add key="SAPSERVER_BILL_DETAILS" value="P92w"/>
    <add key="SAPSERVER_CmsIsuCADisplay" value="P92w"/>
    <!-- This is Zbapi_Display_Bill_Web -->
    <!-- SETTINGS FOR P92w -->
    <add key="P92w.Username" value="sys_web"/>
    <add key="P92w.Password" value="123456"/>
    <add key="P92w.Client" value="100"/>
    <add key="P92w.SystemNumber" value="05"/>
    <add key="P92w.Language" value="en"/>
    <add key="P92w.MsgServerHost" value="10.8.55.219"/>
    <add key="P92w.SAPSystemName" value="P92"/>
    <add key="P92w.LogonGroup" value="P92REL"/>
    <add key="P92w.Trace" value="False"/>
    <add key="P92w.MaxPoolSize" value="1500"/>
    <add key="P92w.PoolSize" value="200"/>
    <add key="PinLabKey" value="#!bses@rpl!#"/>
    <add key="DelhiWSV2.ISUService" value="http://10.8.61.235/DELHIWSv2/ISUService.asmx"/>
    <add key="HESWebReference.BRPLService" value="http://10.125.126.60:10011/BRPLService.asmx"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="ISUService.asmx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-Sourcefiles"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true"/>
    </security>
  </system.webServer>
</configuration>